<div class="row">
  <div class="column1">
      <%= link_to "I'm the therapist/practitioner", activities_path, :class => "home-button" %>
  </div>

  <div class="column2">
    <%= link_to "I'm the client", activities_path, :class => "home-button" %>
  </div>
</div>
