/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  font-family: 'Source Sans Pro', sans-serif;
   margin: 10px;



 }

 .card {
   border: 1px solid #eb7f4e;
   width: 50%;
   padding: 10px;
   margin: auto;

 }

.row {
  text-align: center;
  /* width: auto; */
  border: 2px #02b0a6;

  margin: auto;
  padding: 20px;
  height: 100px;

}

form {

}

h2 {
  text-decoration: none;

}
a {
  text-decoration: none;
  color: #eb7f4e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70a35e;

}
.nav-item {
    float: left;
}

.nav-item {
    display: block;
    color: white;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form {
  margin: auto
}

.home-button {
  width: 200px;
  height: 100px;
  color: #02b0a6;
  background-color: #f7e583;

}

.check-button {
  background-color: #f7e583;
}

.add-button {
  background-color: #f7e583;
  width: 200px;
  border: 1px solid #02b0a6;

}
