/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  font-family: 'Source Sans Pro', sans-serif;
   /* margin: 10px; */
  box-sizing: border-box;
 }

 .column {
   float: left;
   width: 50%;
   height: 100vh;
   text-align: center;
 }

 .column1 {
   background-color: #176057
 }
 .column2 {
  background-color: #F99E0D
 }



 .card {
   border: 1px solid #eb7f4e;
   width: 50%;
   padding: 10px;
   margin: auto;

 }

form {

}

h2 {
  text-decoration: none;

}
a {
  text-decoration: none;
  color: #eb7f4e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70a35e;

}

.nav-item {
    display: inline;
    color: white;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form {
  margin: auto
}

.home-button {
  /* text-align: center; */
  font-size: 5em;

  /* color: #02b0a6; */
  color: #eee;
  /* background-color: #f7e583; */
  position: relative;
top: 40%;
transform: translateY(-50%);

}

.check-button {
  background-color: #f7e583;
}

.add-button {
  background-color: #f7e583;
  width: 200px;
  border: 1px solid #02b0a6;

}
